#contact {
    padding-left: 19%;
    background-color: $ecru_white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    .contact-form {
        padding-top: 10%;
        flex: 2;

        .contact-input {
            padding: 15px 20px;
            outline: none;
            margin: 5px 0;
            background-color: rgba($laser, .5);
            border: none;
            // -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0, .65);
            // -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0, .65);
            // box-shadow: 0px 0px 2px 0px rgba(0,0,0, .65);
            color: $quincy;
            font-weight: 600;
        }
        .contact-title {
            text-align: center;
            margin-bottom: 10%;
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: .1pt;
            color: $quincy;
        }
        .inputs-inline {
            display: flex;
            width: 100%;
            .contact-input {
                flex: 1;
                &:first-child {
                    margin-right: 5px;
                }
                &:last-child {
                    margin-left: 5px;
                }
            }
        }
        .contact-subject {
            width: 100%;
            margin: 0 !important;
            padding: 15px 0 !important;
            text-indent: 15px;
        }
        .contact-textarea {
            width: 100%;
            padding: 20px 0;
            text-indent: 15px;
        }
        .contact-button {
            width: 100%;
            padding: 10px 0;
            font-size: 1.1rem;
            text-transform: uppercase;
            background: transparent;
            border: none;
            border: 1px solid rgba($quincy, .8);
            color: rgba($quincy, .9);
            border-radius: 10px;
            &:hover {
                background: rgba($quincy, .8);
                color: $ecru_white;
                cursor: pointer;
            }
        }
    }
    .contact-map {
        flex: 4;
        margin-left: 5%;
        // div {
        //     background-color: rgba($laser, .2);
        // }
    }
}