$mine_shaft: #303030;
$mine_shaft_dark: #202020;
$mine_shaft_light: rgba($color: $mine_shaft, $alpha: .9);
$ecru_white: #f1ebda;
$ecru_white_light: #fffbee;
$laser: #C8A374;
$quincy: #583B29;

$box-border-color: #ECEFF1;
$margin: 100px;