@import "vars";
@import "navbar";
@import "comps";
@import "resets";
@import "inc";
@import "gallery";

@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex-layout {
    overflow-x: hidden;
    margin-bottom: 600px;
    .section-sidebar {
        width: 15%;
        position: fixed;        
        z-index: 100;
    }

    .app-content {
        z-index: -1;
        overflow-y: auto !important;
    }
}