@import "vars";
@import "navbar";
@import "comps";
@import "resets";
@import "inc";

@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex-layout {
    overflow-x: hidden;
    .section-sidebar {
        width: 20%;
        position: fixed;        
        z-index: 100;
    }

    .app-content {
        margin-left: 30%;
        width: 60%;
        z-index: -1;
        overflow-y: auto !important;
    }
}