@import "vars";
@import "navbar";
@import "comps";
@import "resets";
@import "inc";
@import "gallery";
@import "home";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import '../../../node_modules/font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

@import url('https://fonts.googleapis.com/css?family=Roboto');

.flex-layout {
    overflow-x: hidden;
    .section-sidebar {
        width: 15%;
        position: fixed;        
        z-index: 100;
    }

    .app-content {
        z-index: -1;
        min-height: 100vh;
        overflow: hidden;
    }
}